body {
    margin: 10px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
}

.divider {
    display: flex;
    background: rgb(40, 40, 43);
    /* I changed the height to be a percentage. This can be changed to your liking. set it to 100% if you want to go all the way down*/
    height: 90%;
    width: 50px;
    justify-content: center;
    align-items: center;
    transform: skew(0deg, 0deg);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: 50%;
    padding-top: 200px;
    height: 1px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0.2, 0.2, 0.2, 1);
    width: 85%;
    height: 85%;
    left: 7.5%;
    top: 7.5%;
    position: absolute;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: rgb(255, 255, 255);
}

/* to resize the cards change the width and height of this! */
.cardContainer {
    width: 400px;
    height: 500px;
    position: relative;
    margin: auto;
}

/* to remove the styles from the links */
a, a:visited{
    color: black;
    text-decoration:none;
}