body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.backgroundContainer {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    overflow: hidden;
}
#background {
    content: "";
    position: absolute;
    width: 200%;
    height: 300%;
    top: -100%;
    left: -50%;
    z-index: -1;
    background-image: linear-gradient(to right, #ffffff, #b3cbe2, #47578a, #311b55, #250230);
}

.navBar {
    height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 40, 43);
    height: 50%;
}
  
li {
    float: left;
    height: 100%;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    height: 100%;
    text-decoration: none;
}

li:hover:not(#active) {
    /* change this color */
    background-color: blue;
}

#active {
    background-color: red;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

#homeButton {
    height: 100%;
    filter: invert();
    padding-left: 2px;
    padding-right: 5px;
}

.textLink {
    padding: 16px 16px;
}

img {
    height: 100%;
}

h1 {
    text-align: center;
    color: white;
}
